# 数据分析基础项目

## 分析数据集

泰坦尼克号数据：包括泰坦尼克号上 2224 名乘客和船员中 891 名的人口学数据和乘客基本信息。

## 分析的问题

在泰坦尼克号里，是哪些因素影响着幸存率？
可能影响的因素：
1. 性别
2. 年龄
3. 船票种类
4. 是否为船员

## 预览数据

In [11]:
import pandas as pd
df = pd.read_csv('titanic-data.csv').count(key='Survived')
print(df.head())

TypeError: count() got an unexpected keyword argument 'key'

### 清理数据
先检查以下字段是否正常：
 - 性别为空或异常值

In [4]:
# 性别为空或异常值，执行后没有发现异常
df.groupby('Sex').count()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Sex,,,,,,,,,,,
female,314,314,314,314,261,314,314,314,314,97,312
male,577,577,577,577,453,577,577,577,577,107,577

In [12]:
# 判断幸存率是否和性别有关
# 分别求出男性和女性的生还率，然后生成直方图
# df_by_sex = df.groupby('Sex')
filter_df = df.filter(items='Survived',like='1')
print(filter_df.head())

TypeError: Keyword arguments `items`, `like`, or `regex` are mutually exclusive