# 数据分析基础项目

## 分析数据集

泰坦尼克号数据：包括泰坦尼克号上 2224 名乘客和船员中 891 名的人口学数据和乘客基本信息。

## 分析的问题

在泰坦尼克号里，是哪些因素影响着幸存率？
可能影响的因素：
1. 性别
2. 年龄
3. 船票种类
4. 是否为船员

## 预览数据

In [1]:
import pandas as pd
df = pd.read_csv('titanic-data.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### 清理数据
先检查以下字段是否正常：
 - 性别为空或异常值

In [2]:
# 性别为空或异常值，执行后没有发现异常
df.groupby('Sex').count()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Sex,,,,,,,,,,,
female,314,314,314,314,261,314,314,314,314,97,312
male,577,577,577,577,453,577,577,577,577,107,577

In [3]:
# 查看幸存人数 用于之后对统计后的值进行验证
print(df.count())

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [4]:
# 判断幸存率是否和性别有关
# 分别求出男性和女性的生还率，然后生成直方图
# df_by_sex = df.groupby('Sex')
male_count = df[df['Sex'].isin(['male'])]['Sex'].count()
female_count = df[df['Sex'].isin(['female'])]['Sex'].count()

survived_df = df[df['Survived'].isin([1])]
#print(survived_df.head())

male_survived_count = survived_df[survived_df['Sex'].isin(['male'])]['Sex'].count()
female_survived_count = survived_df[survived_df['Sex'].isin(['female'])]['Sex'].count()
print(male_survived_count, male_count)
print(female_survived_count, female_count)

(109, 577)
(233, 314)